body {
    margin: 0;
    background-color: #eaf0f7;
    font-family: Helvetica, Avenir, Arial, sans-serif;
}

h2{
    text-align: center;
    font-style: Garamond;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
}

.navbar .name {
    font-family: Garamond, serif;
    font-weight: bold;
    font-size: 22px;
    color: black;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    color: #333;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #dbe4ee;
    color: #7a7a7a;
}

.container {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.box { 
    background-color: white;
    color: #333333; 
    width: 90%;  
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px; 
    margin: 10px auto; 
}

.image_container {
    display: flex;
    justify-content: center;
    gap: 100px;  
    margin-top: 20px;  
}

.image_container img {
    width: 250px;  
    height: 250px;
    border-radius: 10px; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.image_container img:hover {
    transform: scale(1.1);
}

.nav_back{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}

.nav_back a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.nav_back a:hover {
    background-color: #dbe4ee;
    color: #555;
}